.skill {
    /* background-color: rgb(242, 242, 242);
    margin: 5px;
    width: 100px;
    padding: 10px; */
    /* margin: 50px; */
    width: 150px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #f2f9fe;

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

    position: relative;
    margin: 120px auto 20px;
    box-shadow: -0 -0 3px rgba(26, 25, 25, 0.3);
}

.skillsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: -0 -0 5px rgba(254, 254, 254, .2);
    position: relative;
    margin-top: 50px;
    border-radius: 20px;
    padding: 5px;
    background: radial-gradient(circle, rgba(249, 249, 249, 0.4906337535014006) 0%, rgba(172, 234, 255, 0.5354516806722689) 100%);
}

.skilltitle {
    position: absolute;
    top: 0px;
}
